@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, head {
    height: 100vh;
}

html, body {margin: 0; height: 100%; overflow: hidden}



div#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#container {
    display: none;
}

div#container div#background {
    width: 100vw;
    height: 100vh;
    background: url(../components/arkaplan.jpg) center/cover no-repeat;
    filter: blur(3px);
    opacity: 0.35;
}

div#container section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#container section img#yarismaLogo {
    position: absolute;
    padding-bottom: 70vh;
    width: 22.5vw;
}
div#container section img#logolarCom {
    position: absolute;
    padding-top: 80vh;
}

div#container  section h2 {
    font-size: 2.85vw;
}


@media only screen and (min-width: 150px) and (max-width: 600px)
{
    div#container section img#logolarCom {
        position: absolute;
        width: 80vw;
        padding-top: 40vh;
    }
    div#container section img#yarismaLogo {
        position: absolute;
        padding-bottom: 40vh;
        width: 60vw;
    }
    div#container section h2 {
        font-size: 7.5vw;
    }
}
