@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	font-weight: 600 !important;
	border-color: black !important;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	background-position: center center;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

html, body {
	max-width: 100% !important;
}

h2 {
	margin-top: 100px;
}

.wrapper {
	width: 100%;
}
.banner {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	box-sizing: border-box;
	display: flex;
    text-align: center;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
	z-index: 2;
}



header {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	align-self: flex-start;
	background-image: linear-gradient(180deg, rgba(0,0,0,0.68531162464986) 0%, rgba(255, 255, 255, 0) 100%);
}
header img.lothlogo {
	position: relative;
	float: left;
    height: 100px;
    width: auto;
	transition: opacity 0.2s ease-in;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

header nav.navbar ul {
	position: absolute;
	float: right;
	right: 20px;
	top: 0px;
}
header nav.navbar ul li {
	display: block;
	padding: 30px;
	float: left;
}
header nav.navbar ul li a {
	font-size: 1.25em;
    color: #DBD8D8;
	text-decoration: none;
	text-transform: uppercase;
}


div.yazi {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	background-color: rgba(255, 255, 255, 0.8);
    width: 45%;
	height: 40%;
	padding: 3vw;
}

section.bolum1 {
	width: 100%;
	height: fit-content;
	z-index: 1;
	padding: 100px 0;
	text-align: center;
	margin-bottom: -0.5em
}
.bolum1 h2 {
	color: black;
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 0.5em;
}
.bolum1 h2+p {
	color: black;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

.container{
	padding-top: 20px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}



p.colons {
	align-self: center;
	padding: 1vh 2vw 1vh 1.25vw;
	font-size: 3.75em;
	flex-shrink: 0;
}

div.basvuruContainer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

a.basvuru {
	background: none;
	border: 5px solid black;
	opacity: 1;
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	padding: 2vh 1.5%;
	text-align: center;
	margin-top: -30px;
	margin-bottom: 40px;
	transition: all 0.2s ease;
}



div#about {
    margin-top: 40px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

div#about article {
	text-align: left;
}

h2 {
	color: black;
}

div#announcements {
	margin-top: 40px;	
}

div#announcements div.announcementsBox {
	border: solid 5px black;
	color: black;
	text-align: left;
	width: 75%;
	margin: auto;
	margin-top: 20px;
	height: fit-content;
}

.announcementsBox h3 {
	margin: 20px 20px 5px 20px;
}
.announcementsBox small {
	margin: 0px 20px 0px 20px;
}
.announcementsBox p {
	margin: 10px 20px 20px 20px;
}

.end {
	text-align: left;
	width: 90%;
	padding-top: 10px;
	opacity: 0.8;
}

.bolum1 .kutu:nth-last-child(1) {
	margin-right: 0;
}

.bolum1 .kutu h3{
    margin: 20px 0;
    color: black;
    font-size: 6em;
}
.bolum1 .kutu p{
    color:black;
    font-size: 1.5em;
    padding: 0 30px 20px 30px;
    line-height: 1.5em;
}

.countdown-timer {
	position: relative;
	top: -140px;
	width: 100%;
	height: 100%;
	margin: auto;
	left: 0%;
}

div.content {
	position: relative;
	top: -125px;
	width: 125%;
	height: 125%;
	margin: auto;
	left: -12%;
	display: flex;
	align-items: center;
	justify-content: center;
}



div.content div.time {
	position: absolute;
	list-style: none;
	top: -185px;
	right: -1.175%;
	text-align: right;
}

div.content div.alignleft {
	text-align: left;
	left: 22.8%;
}

div.content div.time div {
	padding: 4px;
	color: white;
	font-size: 2.5rem;
}

div.upperFooter {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 70px 0 70px 0;
}

div.upperFooter a {
	text-decoration: none;
	color: black;
}

div.upperFooter a:hover {
	text-decoration: underline;
}

.footerdiv {
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    margin-top: 40px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.footertext {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    margin-top: 30px;
	margin-bottom: 20px;
}

.footericon {
    margin: 10px;
    font-size: 30px;
    color: white;
}

section.bolum1 {
    padding-bottom: 0;
}

div.upperFooter {
    padding-bottom: 12.5px !important;
}

.yarismalogo {
	width: 100%;
	height: 100%;
}

.toggle-btn {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column ;
	justify-content: space-between;
	width: 45px;
	height: 31.5px;
}

.toggle-btn span {
	height: 3px ;
	width: 100% ;
	background-color: #fff;
}

@media (max-width: 1600px) {
	div.yazi {
		width: 725px;
	}
}

@media (max-width: 1000px) {
	.banner {
		background-attachment: scroll;
		background-position-x: 65%;
	}
}

@media (max-width: 765px) {
	.yarismalogo {
		width: 90%;
		height: 90%;
	}
	div.yazi {
		width: 90%;
		height: 35%;
	}
	.toggle-btn {
		display: flex;
		margin-top: 3.3%;
	}

	.navbar {
		display: none;
	}

	.navbar.active {
		display: flex;
	}
	.navbar.active ul {
		position: absolute;
		margin-top: 90px;
		position: absolute;
		left: 0%;
		top: 0%;
	}

	.navbar.active ul li {
		clear: both;
		background-color: rgb(47, 44, 44);
		width: 104.4%;

	}

	.navbar.active ul li a {
		color: white !important;
		text-align: center;
	}

}



@media (max-width: 600px) {
	div.yazi {
		padding-top: 12.5%;
		padding-bottom: 12.5%;
		height: fit-content;
		width: 70%;
	}
	.yarismalogo {
		width: 100%;
		height: 100%;
	}
	.lothlogo {
		position: absolute;
		top: -1vh;
		left: -5%;
	}
	.lothlogo {
		position: absolute;
		top: -1vh;
		left: -5%;
	}
}

@media (max-width: 700px) {
	div.content div.time div {
		font-size: 4vw;
	}
	div.content {
		top: -16.5vw;
	}

	.countdown-timer {
		width: 80%;
		height: 80%;
	}

	.content .alignleft {
		margin-left: 6.5vw;
	}

	.content .time:not(.alignleft) {
		margin-right: 6.5vw;
	}

	.content .time{
		margin-top: 2.75vh;
	}
}

@media (max-width: 650px) {
	div.content div.time div {
		font-size: 3.75vw;
	}
	.content .time{
		margin-top: 3.5vh;
	}
}


@media (max-width: 550px) {
	div.content div.time div {
		font-size: 3.5vw;
	}
	.content .time{
		margin-top: 4vh;
	}
}

@media (max-width: 450px) {
	div.content div.time div {
		font-size: 3.25vw;
	}
	.content .time{
		margin-top: 4.5vh;
	}
	.lothlogo {
		left: 0%;
		max-width: 50%;
	}

}

@media (max-width: 350px) {
	div.content div.time div {
		font-size: 3.00vw;
	}
	.content .time{
		margin-top: 4.55vh;
	}
	.lothlogo {
		position: absolute;
		left: -5%;
		max-width: 85%;
		top: -1vh;
	}
}

@media (max-width: 300px) {
	.lothlogo {
		position: absolute;
		left: -5%;
		max-width: 75%;
		top: -2.25vh;
	}
}

@media (max-width: 250px) {
	div.content div.time div {
		font-size: 3;
	}
	.content .time{
		margin-top: 4.6vh;
	}	
	.lothlogo {
		position: absolute;
		left: -5%;
		max-width: 70%;
		top: -1.5vh;
	}
}

