
div.yazi h1 {
    font-size: 6.25em;
}


a.basvuru2 {
	background: none;
	border: 5px solid black;
	opacity: 1;
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	padding: 2vh 2.5%;
    margin-top: 60px;
}

a.basvuru2 b {
    font-size: 1.5em;
}

a:not(.footericon):not(.toggle-btn):not(.navlink) {
    display: block;
    text-decoration: none;
    color: black;
}

a:not(.footericon):not(.toggle-btn):not(.navlink):hover {
    text-decoration: underline;
}

a.basvuru2:not(.footericon):not(.toggle-btn):not(.navlink):hover {
    text-decoration: none;
}

a.underline-hover:hover {
    text-decoration: underline;
}

h2 {
    margin: 50px auto !important;
}

div.basvuru-adimlari {
    margin: auto;
    margin-left: 31%;
    width: 50%;
    text-align: left;
}


div.basvuru-adimlari ol {
    margin-top: 40px;
}

div.basvuru-adimlari ol li {
    margin: 10px auto;
	overflow-wrap: break-word;
}

a.medium-anchor {
    font-size: 1.25em;
}


section.bolum1 {
    padding-bottom: 0;
}

div.upperFooter {
    padding: 0;
}



@media (max-width: 500px) {
    div.yazi h1 {
        font-size: 10vw;
    }
}

@media (max-width: 765px) {
    .navbar.active ul li {
		width: 104.25% !important;
	}
}